body {
    display:inline-flex;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
  }

  div.blue {
    width: 100px;
    height: 200px;
    background-color: blue;
  }

  div.yellow {
    width: 100px;
    height: 150px;
    background-color: yellow;
  }

  div.red {
    width: 100px;
    height: 150px;
    background-color: red;
  }

  div.green {
    width: 200px;
    height: 50px;
    position:absolute;
    margin-top:150px;
    margin-left: 100px;
    background-color: green;
  }